@import "./variables.scss";
@import './typography.scss';
@import './spacings.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $app-font;
}

.subNavPage-padding {
  padding: $page-padding;
}

.section {
  padding: 8px 32px;
}
.section2 {
  padding: 16px 32px;
}

.section3{
 padding: 15rem 15rem 5rem !important;
}

.section4{
  padding: 9rem 15rem 5rem;
}
.section5{
  padding-left:  15rem;
  padding-right:  15rem;
}
.section5-inner{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

button {
  cursor: pointer !important;
}

.justifyEnd {
  display: flex;
  justify-content: flex-end;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}
.justify-align-center{
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.whiteBack {
  background-color: white;
}

.bordergray {
  fieldset {
    border: 1px solid #6f7979;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.warning {
  color: $warning;
}
.m-10 {
  margin-bottom: 10px;
}
.actionBtn {
  &:hover {
    background-color: $primary-button-hover !important;
  }
}

.border-gray {
  background-color: $border-gray;
}

.fw-700 {
  font-weight: 700 !important;
}

.errorBtn {
  background-color: #ffdad4 !important;
  color: #410001 !important;
  &:hover {
    background-color: #ffdad4 !important;
    color: #410001 !important;
  }
}

.removeDefault {
  border: 0 !important;
  background: none !important;
  box-shadow: none !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.m-0 {
  margin: 0 !important;
}
.mr-18 {
  margin-right: 18px !important;
}
.mt-30{
  margin-top: 30px !important;
}

.accDeactivateDialog {
  .MuiPaper-root {
    background-color: #dfecec;
    border-radius: 28px;
    width: 433px !important;
    padding: 8px;
  }
}
.text-center {
  text-align: center;
}

.flex-row-center {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}

.w-100 {
  width: 100%;
}
.w-85 {
  width: 85%;
}
.w-75 {
  width: 75%;
}
.w-50{
  width: 50%;
}
.m-auto{
  margin: auto;
  display: block;
}
.w-auto-center {
  width: auto;
  margin: auto !important;
}

.text-black {
  color: #000;
}

.disabled-color {
  color: $disabled-gray !important;
}

.info-color {
  color: $info-color !important;
}

.link {
  text-decoration: none;
  color: #4c5f7c;
}


.outlined-button{
  font-weight: 700 !important;
  border: 1px solid white !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  color: white !important;
  &:hover{
    border: 1px solid black !important;
    color: black !important;
    background-color: white !important;
  }
}

.fit-auto{
  width: fit-content !important;
  margin: 20px auto !important;
}

.position-relative{
  position: relative;
}
.z-100{
  z-index: 100;
}
.z-10{
  z-index: 10;
}

.bg-white{
  background-color: white;
}

.absolute{
  position: absolute !important;
}

.right_neg50 {
  right: -50px;
}



@media (max-width: 1100px) {
  .section5{
    padding: 0px 30px;
  }
  .section4{
    padding: 50px 30px;
  }
  .section3{
    padding: 80px 30px 20px !important;
  }
}